footer 
{
    .row
    {
        background-color: $marron;
        padding: 20px;
        padding-left: 50px;
        padding-right: 50px;
        -webkit-box-shadow: 0px 9px 11px -1px $marron; 
        box-shadow: 0px 9px 11px -1px $marron;

        .titre-footer
        {
            color: $darkVert;
            font-size: 24px;
        }
        .list-footer
        {
            color: white;
            font-size: 17px;
        }
    }

    .second
    {
        background-color: $grisBg;
        border-top: solid 3px $grisBorder;
        padding: 15px;
        box-shadow: none;
        margin-bottom: 0;

        .grid-exemple
        {
            font-weight: 600;

        }
        .only
        {
            border-right: none;
        }
    }

    .flexbox
    {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .lastfooter
    {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}