// HEADER CONTACT
header {
    background-color: $marron;
    color: white;
    font-weight: bold;
    margin-bottom: none;
    .contact {
        text-align: center;
    }
    .row {
        margin-bottom: 0;
    }
    .img-responsive {
        max-width: 15%;
        height: auto;
        object-fit: cover;
        padding-top: 3px;
    }
    .img-responsive-2 {
        max-width: 24%;
        height: auto;
        object-fit: cover;
        padding-top: 3px;
    }
}

#logo-header {
    width: 35%;
    //Débordement du logo
    position: relative;
    left: 2rem;
    top: - 1.5rem;
    z-index: 2;
}

//NAV
nav {
    background: #fff !important;
    a {
        color: black !important;
        font-weight: bold !important;
        font-size: 1.1rem !important;
        margin-left: 1rem;
    }
}

//SLIDER
//Responsive slider
@media #{$medium-and-down} {
    body .slider .slider_inner {
        h1 {
            font-size: 9vw;
            text-align: left;
        }
        .slider_inner_content .card {
            .slider_inner_title h2 {
                font-size: 6vw;
                text-align: left;
            }
            .images_slider {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

// Couleur texte noir et non vert pour meilleur contraste (accessibilité)
.slider {
    background-color: #A8A3A7;
    padding: 0.2rem 0;
    height: auto;
    text-shadow: 4px 0px 10px rgba(0, 0, 0, 0.8);
    .slider_inner {
        background-image: url(/assets/images/Ressources/home_page/slider-1.jpg);
        background-size: cover;
        h1 {
            text-align: center;
            font-weight: 800;
            font-size: 5vw;
            padding: 4rem 8rem;
            margin: 0.5rem 0;
        }
        .slider_inner_content {
            .card {
                width: 100%;
                background: transparent;
                box-shadow: none;
                padding: 2rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .slider_inner_title {
                    max-width: 50%;
                    h2 {
                        text-align: right;
                        font-size: 3vw;
                        font-weight: 800;
                    }
                    & :first-child {
                        text-transform: uppercase;
                    }
                    & :nth-child(2) {
                        color: rgb(72, 75, 71);
                        text-shadow: none;
                    }
                }
                .images_slider {
                    text-align: center !important;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    padding-left: 2rem;
                    img {
                        margin-right: 2rem;
                    }
                    & :first-child {
                        width: 5rem;
                        height: 5rem;
                    }
                    & :last-child {
                        width: auto;
                        height: 15rem;
                    }
                }
            }
        }
    }
}