.img2 {
    max-width: 200px;
    width: 100%;
}

// .imgspe {
//     max-width: 50%;
//     margin-bottom: 0.8rem;
//     margin-left: auto;
//     margin-right: auto;
// }
.main {
    background-color: $grisBg;
    .container {
        background-color: white;
        text-align: center;
    }
}

.projetweb {
    text-align: center;
}

.titremain {
    font-weight: bold;
}

.container {
    width: 90%;
}